@font-face {
    font-family: "light";
    src: url("../apps/rounded-mplus-2c-light.woff") format("woff");
}
@font-face {
    font-family: "regular";
    src: url("../apps/rounded-mplus-2c-regular.woff") format("woff");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "regular",sans-serif;
}
 .layer {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
 }

 #background {
     background-position: center;
     background-size: cover;
     bottom: 0;
     right: 0;
     left: 0;
     top: 0;
     position: fixed;
 }

 #caption {
     width: 80%;
     max-width: 1200px;
     height: 150px;
     position: absolute;
     left: 50%;
     top: 100%;
     transform: translate(-50%, -200px);
     border: 1px solid #ffffff;
     background: #ffffff88;
     display: none;
     font-size: 5vw;
 }
 @media (min-width: 600px) {
 #caption {
     font-size: 30px;
 }}


 #selection {
     width: 30%;
     min-width: 300px;
     height: 300px;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     border: 1px solid #ffffff;
     background: #ffffff88;
     display: none;
 }