@font-face {
    font-family: "light";
    src: url("../apps/rounded-mplus-2c-light.woff") format("woff");
}
@font-face {
    font-family: "regular";
    src: url("../apps/rounded-mplus-2c-regular.woff") format("woff");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "regular",sans-serif;
    overflow: hidden;
}

iframe {
    border: none;
}

.layer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#background {
     background-position: center;
     background-size: cover;
     bottom: 0;
     right: 0;
     left: 0;
     top: 0;
     position: fixed;
}

#caption {
    width: 80%;
    max-width: 1200px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -200px);
    padding: 1vw;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    background: #00000088;
    display: none;
    font-size: 5vw;
    color: #ffffff;
    cursor: pointer;
    pointer-events: auto !important;
}
@media (min-width: 600px) {
#caption {
    font-size: 30px;
    cursor: pointer;
    pointer-events: auto !important;
}}

#cap_next {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    pointer-events: auto !important;
}

.cap_char {
    display: none;
}

#selection {
    width: 30%;
    min-width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    border: 1px solid #ffffff;
    background: #000000CC;
    display: none;
    font-size: 25px;
    color: #ffffff;
    pointer-events: auto !important;
}

#selection .option {
    cursor: pointer;
}
#selection .option.active {
    background: #ffffff40;
}

#overlay, #controls, #foreground, #config {
    pointer-events: none;
}

#foreground iframe {
    pointer-events: auto !important;
}

#configSensor {
    width: 100%;
    height: 10%;
    cursor: pointer;
    pointer-events: auto !important;
}

#configPanel {
    background: #333333;
    width: 100%;
    position: absolute;
    left: 0;
    top: -100px;
}